<%= form_for(@motion) do |f| %>
  <% if @motion.errors.any? %>
    <div id="error_explanation">
      <h2>Der Antrag konnte nicht gespeichert werden, es gab <%= @motion.errors.count %> Fehler.</h2>

      <ul>
      <% @motion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :text, "Begründung bzw. Beschreibung" %>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :contact_mail, "E-Mail Antragsteller" %>
    <%= f.text_field :contact_mail %>
  </div>
  <div class="field">
    <%= f.label :contact_name, "Name Antragsteller" %>
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label :contact_fon, "Telefonnummer Antragsteller" %>
    <%= f.text_field :contact_fon %>
  </div>
  <% if is_current_in_group?("finanzen") %>
    <div class="field">
      <%= f.label :fin_expected_amount %>
      <%= f.text_field :fin_expected_amount %>
    </div>

    <div class="field">
      <%= f.label :fin_charged_amount %>
      <%= f.text_field :fin_charged_amount %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit :class => "button primary" %>
  </div>
<% end %>
