<%= form_for(@motion) do |f| %>
  <% if @motion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@motion.errors.count, "error") %> prohibited this motion from being saved:</h2>

      <ul>
      <% @motion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :kind %>
    <%= f.text_field :kind %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :text %>
    <%= f.text_area :text %>
  </div>
  <div class="field">
    <%= f.label :contact_mail %>
    <%= f.text_field :contact_mail %>
  </div>
  <div class="field">
    <%= f.label :contact_name %>
    <%= f.text_field :contact_name %>
  </div>
  <div class="field">
    <%= f.label :contact_fon %>
    <%= f.text_field :contact_fon %>
  </div>
  <div class="field">
    <%= f.label :fin_expected_amount %>
    <%= f.text_field :fin_expected_amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
