<div class="container">
  <h1>TOPs für die nächste…</h1>
  <h2>…FSK Sitzung</h2>

  <%= render :partial => 'table', :locals => {:motions => @motions_fsk} %>

  <br/>
  <br/>

  <h2>…RefKonf Sitzung</h2>
  <%= render :partial => 'table', :locals => {:motions => @motions_refkonf} %>
</div>

<div class="container">
  <h1>Nach Status sortierte Anträge</h1>
  <% @motions_status.each do |status, motions| %>
    <% next if motions.empty? %>
    <h2><%=status%> (<%=motions.count%>)</h2>
    <%= render :partial => 'table', :locals => {:motions => motions} %>
    <br/>
    <br/>
  <% end %>
</div>

