<div class="container">
  <h1><%=@motion.kind_printable%> „<%=@motion.title%>“</h1>
<p>
  <b>Text:</b>
  <%= @motion.text %>
</p>

<p>
  <b>Is top:</b>
  <%= @motion.is_top %>
</p>

<p>
  <b>Contact mail:</b>
  <%= @motion.contact_mail %>
</p>

<p>
  <b>Contact name:</b>
  <%= @motion.contact_name %>
</p>

<p>
  <b>Contact fon:</b>
  <%= @motion.contact_fon %>
</p>

<p>
  <b>Ident:</b>
  <%= @motion.ident %>
</p>

<p>
  <b>Publication:</b>
  <%= @motion.publication %>
</p>

<p>
  <b>Status:</b>
  <%= @motion.status %>
</p>

<p>
  <b>Fin expected amount:</b>
  <%= @motion.fin_expected_amount %>
</p>

<p>
  <b>Fin charged amount:</b>
  <%= @motion.fin_charged_amount %>
</p>

<p>
  <b>Fin deducted:</b>
  <%= @motion.fin_deducted %>
</p>

<p>
  <b>Fin granted:</b>
  <%= @motion.fin_granted %>
</p>
<div class="button-group">
  <%= link_to 'Details bearbeiten', edit_motion_path(@motion), :class => "button" %>
  <%= link_to @motion.is_top ? "als TOP streichen?" : "als TOP aufnehmen?", toggle_motion_top_path(@motion), :class => "button" %>
  <% if @motion.finanz? && is_current_in_group?([GROUPS[:finanzen], :root]) %>
    <%= link_to @motion.fin_granted ? "Geld (doch) nicht genehmigen?" : "Geld genehmigen?", toggle_motion_fin_granted_path(@motion), :class => "button"  %>
    <%= link_to @motion.fin_deducted ? "Weitere Abbuchungen erwartet?" : "Alle Abbuchungen abgeschlossen?", toggle_motion_fin_deducted_path(@motion), :class => "button"   %>
  <% end %>
</div>
</div>






<%= render "votes" %>
<%= render "attachments" %>
<%= render "comments" %>
