<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Der Nutzer konnte nicht gespeichert werden, es gab <%= @user.errors.count %> Fehler.</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :groups %>
  <%= f.text_field :groups %>
  <p>Jede Gruppe bringt Rechte. Die mächtigste ist „root“. Mehrere Gruppen mit Leerzeichen trennen.</p>

  <br class="spacer"/>
  <h3>Referate</h3>
  <p>Referate, in denen <%= @user.name %> aktiv ist. Ein Häkchen bedeutet, dass <%= @user.name %> für die jeweilige Fachschaft abstimmen darf und deren Daten ändern kann.</p>
  <div class="checkboxes"><% for referat in Referat.all %>
    <label>
    <%= check_box_tag "user[referat_ids][]", referat.id, @user.referate.include?(referat) %>
    <%= referat.name %></label>
  <% end %></div>
  <br class="spacer"/>


  <h3>Fachschaften</h3>
  <p>Fachschaften, in denen <%= @user.name %> aktiv ist. Ein Häkchen bedeutet, dass <%= @user.name %> für die jeweilige Fachschaft abstimmen darf und deren Daten ändern kann.</p>
  <div class="checkboxes">
  <% for fachschaft in Fachschaft.all %>
    <label>
    <%= check_box_tag "user[fachschaft_ids][]", fachschaft.id, @user.fachschaften.include?(fachschaft) %>
    <%= fachschaft.name %></label>
  <% end %>
  </div>


  <%= f.submit :class => "button primary" %>
  <%= link_to 'Abbrechen', users_path, :class => "button" %>
<% end %>
