<div class="container">

<h1>Nutzer</h1>
<p>Nutzer werden automatisch angelegt, sobald sie sich zum ersten Mal mit ihren FSK Logindaten anmelden. Anschließend können Rechte vergeben werden. Um Nutzer zu sperren genügt es ihren Account im LDAP zu löschen, da die Authentifizierung darüber funktioniert.</p>


<table>
  <tr>
    <th>Name</th>
    <th>Gruppen</th>
    <th>Fachschaft(en)</th>
    <th>Referat(e)</th>
    <% if is_current_root? %>
      <th></th>
    <% end %>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.groups %></td>
    <td><%= user.fachschaften.map { |f| f.name }.join(", ") %></td>
    <td><%= user.referate.map { |r| r.name }.join(", ") %></td>
    <% if is_current_root? %>
      <td><%= link_to 'Ändern / Rechte zuteilen', edit_user_path(user) %></td>
    <% end %>
  </tr>
<% end %>
</table>

</div>
