<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @fachschaft.name %>
</p>

<p>
  <b>Mail:</b>
  <%= @fachschaft.mail %>
</p>

<p>
  <b>Url:</b>
  <%= @fachschaft.url %>
</p>

<p>
  <b>Address:</b>
  <%= @fachschaft.address %>
</p>


<%= link_to 'Edit', edit_fachschaft_path(@fachschaft) %> |
<%= link_to 'Back', fachschafts_path %>
