<%= form_for(@referat) do |f| %>
  <% if @referat.errors.any? %>
    <div id="error_explanation">
      <h2>Das Referat konnte nicht gespeichert werden, es gab <%= @referat.errors.count %> Fehler.</h2>

      <ul>
      <% @referat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mail %>
    <%= f.text_field :mail %>
  </div>
  <div class="actions">
    <%= f.submit :class=>"button primary" %>
  </div>
<% end %>
