<h1>Listing referate</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Mail</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @referate.each do |referat| %>
  <tr>
    <td><%= referat.name %></td>
    <td><%= referat.mail %></td>
    <td><%= link_to 'Show', referat %></td>
    <td><%= link_to 'Edit', edit_referat_path(referat) %></td>
    <td><%= link_to 'Destroy', referat, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Referat', new_referat_path %>
