<div class="container">

  <h1><%= @referat.name %></h1>


  <%=mail_to @referat.mail, nil, { :class => "single" } %>


  <p>
    <b>ReferentInnen:</b><br/>
    <%= @referat.users.map { |u| u.name }.join(", ") %>
  </p>


  <%= link_to 'Daten bearbeiten', edit_referat_path(@referat), :class => "button primary" %>
  <%= link_to 'Zerstören', @fachschaft, confirm: 'Referat wirklich löschen?', method: :delete, :class => "button danger" if is_current_root? %>
</div>
