 <%= form_for(@fachschaft) do |f| %>
  <% if @fachschaft.errors.any? %>
    <div id="error_explanation">
      <h2>Die Fachschaft konnte nicht gespeichert werden, es gab <%= @fachschaft.errors.count %> Fehler.</h2>

      <ul>
      <% @fachschaft.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :mail, "E-Mail:" %>
    <%= f.text_field :mail %>
  </div>
  <div class="field">
    <%= f.label :url, "Homepage:" %>
    <%= f.text_field :url %>
  </div>
  <div class="field">
    <%= f.label :address, "Postadresse:" %>
    <%= f.text_field :address %>
  </div>
  <div class="actions">
    <%= f.submit :class => "button primary" %>
  </div>
<% end %>
