<div class="container">

  <h1>Fachschaften</h1>

  <%= link_to 'Neue Fachschaft anlegen', new_fachschaft_path, :class => "single" if is_current_in_group?("root") %>


  <% @fachschaften.each do |fachschaft| %>
    <%= link_to(fachschaft, :class => "box") do %>
      <h3><%= fachschaft.name %></h3>
      <%= fachschaft.mail %><br/>
      <%= fachschaft.address %>
    <% end %>
  <% end %>
</div>
